# rename to .env
manifest_path="build/world_content.db"
bungie_api_key="my bungie api key"
destiny_character_id="character id from bungie oauth"
destiny_membership_id="membership id from bungie oauth"
